{% extends 'base1.html' %}

{% block content %}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
      </a>

<ul class="nav nav-pills">
    <li class="nav-item"><a href="index" class="nav-link" >Главная страница</a></li>
    <li class="nav-item"><a href="index_exchange" class="nav-link" >Обмен валют</a></li>
    <li class="nav-item"><a href="/index_blog" class="nav-link" >Блог</a></li>
</ul>
</header>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-5">
            <h1>Погода в вашем городе</h1>
            <form action="" method="post">
                {% csrf_token %}
                <label>Город</label>
                {{ form.name }}
                <input type="submit" name="send" value="узнать" class="mt-2" btn btn-danger>
            </form>
        </div>
    </div>
</div>
{% for info in all_info %}
<div class="container mt-5">
    <div class="row">
        <div class="col-5">
<h1>Информация</h1>
<b>Город:</b> {{ info.city }}<br>
<b>Температура:</b> {{ info.temp }}<sup>o</sup><br>
<b>Влажность: </b> {{ info.humidity }}<sup>%</sup><br>
<b>Давление:</b> {{ info.pressure }}<sup>мм.рт.ст.</sup>
<img src="http://openweathermap.org/img/w/{{ info.icon }}.png">
        </div>
    </div>
</div>
</body>
{% endfor %}

{% endblock %}